apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: container-agent-clusterrole
rules:
- apiGroups:
  - ""
  resources:
  - nodes/proxy
  - nodes/stats
  - nodes/spec
  verbs:
  - get
